<template name="changePassword">
    <div class="container">
        {{#contentFor 'title'}}Change Password{{/contentFor}}
        <form>
            <div class="form-group">
                <label for="new-password">New Password</label>
                <input class="form-control" type="password" id="new-password" required="true"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Change Password</button>
            </div>
        </form>
    </div>
</template>