<template name="emailSignup">
  {{#contentFor 'title'}}Sign up{{/contentFor}}
  <div class="container">
    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <form>
      {{> emailFormFields}}
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
      </div>
    </form>
  </div>
</template>