<template name="pubJourney">
    {{#contentFor 'title'}}Journey Summary{{/contentFor}}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                {{#with journey}}
                    <div class="pub-journey-title">
                        <div class="transportation-icon" style="background-image:url({{transportationMethodDisplay.icon}})"></div>
                        <h2>I {{transportationMethodDisplay.verb}} from {{formatAddress journey.origin}} to {{formatAddress journey.destination}}</h2>
                    </div>
                {{/with}}
                {{#with journey.chosenAlternative}}
                    <div class="user-stats-totals">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 total total-calories">
                                <em>{{calories}}</em>
                                KCal burned
                            </div>
                            <div class="col-xs-6 col-sm-3 total total-duration">
                                <em>{{duration}}</em>
                                minutes travelled
                            </div>
                            <div class="col-xs-6 col-sm-3 total total-price">
                                <em>{{price}}</em>
                                NIS spent
                            </div>
                            <div class="col-xs-6 col-sm-3 total total-emissions">
                                <em>{{emissions}}</em>
                                g/CO<sub>2</sub> emitted
                            </div>
                        </div>
                    </div>
                {{/with}}
            </div>
        </div>
    </div>
</template>