<template name="users">
    
    {{#contentFor 'title'}}Users{{/contentFor}}

    <div class="container">
        <p>
            <a href="{{pathFor 'export'}}" class="btn btn-default">Export as JSON</a>
        </p>
        <p>
            <a href="#" class="btn-dropbox btn btn-success">Export 7 day logs to Dropbox</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                    <tr>
                        <td>{{_id}}</td>
                        <td>{{displayName}}</td>
                        <td>
                            <a href="{{pathFor 'journeys' _id=this._id}}">Journeys</a>
                        </td>
                        <td>
                            <a href="{{pathFor 'tracks' _userId=this._id _journeyId='all'}}">All Tracks</a>
                        </td>
                        <td>
                            <a href="{{pathFor 'changePassword' _id=this._id}}">Change Password</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</template>