<template name="tracking">
    
    {{#contentFor 'title'}}Tracking{{/contentFor}}
    
    <div class="container container-fluid">
        {{#if trackingEnabled}}
            <div class="alert alert-info clearfix">
                <button id="btn-updatestate" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
                {{trackingState}}
            </div>
            <p>
                <button id="btn-start" class="btn btn-default btn-lg">Start</button>
                <button id="btn-stop" class="btn btn-default btn-lg">Stop</button>
            </p>
            <p>
                <button id="btn-setjourney" class="btn btn-default btn-lg">Set Random Journey Id</button>
                <button id="btn-startjourney" class="btn btn-default btn-lg">Start Journey</button>
            </p>
        {{else}}
            <div class="alert alert-warning">
                Tracking only works in the app :(
            </div>
        {{/if}}
    </div>
</template>