<template name="export">
  {{#contentFor 'title'}}Export{{/contentFor}}
  <div class="container">
    <textarea class="form-control" rows="20" readonly="readonly">{{exportResult}}</textarea>
  </div>
</template>