<template name="profile">
    
    {{#contentFor 'title'}}Profile{{/contentFor}}

    {{#if currentUser}}

    <!-- Page Content -->

    {{#with currentUser}}
      <div class="user-profile-card">
          <div class="container">
              {{> avatar user=this size="large" shape="circle"}}
              <h2>{{displayName}}</h2>
          </div>
      </div>
    {{/with}}

    <div class="container">
        {{#with statistics}}
            {{> userStatistics}}
        {{/with}}
        <!-- /.row -->
        
        <a class="btn btn-default btn-block" id="btn-logout">Log out</a>

    </div>
    <!-- /.container -->
    {{else}}
        {{goToLogin}}}
    {{/if}}
</template>