<template name="navigate">
    
    {{#contentFor 'title'}}AlterNativ{{/contentFor}}

    <!-- Page Content -->
    <div class="container container-fluid">
        {{#if isLoading}}
            {{> spinner}}
        {{/if}}
        <div style="display: {{#if isLoading}}none{{else}}block{{/if}}">
            <label>
                <div class="input-group input-fromto">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        From
                    </span>
                    <input class="form-control validate" id="new-from-address" name="address" type="text" autocorrect="off"
                           placeholder="From address..." value="{{currentFromAddress}}" />
                    {{#if shouldDisplayInputAddon 'from'}}
                        <span class="input-group-btn">
                            {{#if isFilledIn 'from'}}
                                <button class="btn btn-default btn-clear" type="button" data-point="from">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            {{/if}}
                            {{#if isUpdatingToCurrentLocation}}
                                <button class="btn btn-default btn-abort-detect" type="button" data-point="from">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            {{/if}}
                        </span>
                    {{/if}}
                </div>
            </label>
            <label>
                <div class="input-group input-fromto">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        To
                    </span>
                    <input class="form-control validate" id="new-to-address" name="address" type="text" autocorrect="off"
                           placeholder="To address..." value="{{currentToAddress}}" />
                    {{#if shouldDisplayInputAddon 'to'}}
                        <span class="input-group-btn">
                            {{#if isFilledIn 'to'}}
                                <button class="btn btn-default btn-clear" type="button" data-point="to">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            {{/if}}
                        </span>
                    {{/if}}
                </div>
            </label>

            <div class="btn-container text-center">

                <div class="btn-ido">
                    <button type="button" id="eco" class="btn btn-default btn-pref" data-pref="eco"><img class="btn-img" alt="eco" src="/icons/eco2_english.svg"></button>
                    <button type="button" id="fit" class="btn btn-default btn-pref" data-pref="fit"><img class="btn-img" alt="fit" src="/icons/fit2_english.svg"></button>
                </div>

                <div class="btn-ido">
                    <button type="button" id="cheap" class="btn btn-default btn-pref" data-pref="cheap"><img class="btn-img" alt="cheap" src="/icons/cheap2_english.svg"></button>
                    <button type="button" id="fast" class="btn btn-default btn-pref" data-pref="fast"><img class="btn-img" alt="fast" src="/icons/fast2_english.svg"></button>
                </div>

            </div>
            <!-- /.div btn container -->
        </div>
    </div>


    <!-- /.container -->

</template>